doctype html
html(ng-app='angularjs-study')
  head
    title AngularJS Study
    script(src='../../bower_components/angular/angular.js')
    script(src='../../bower_components/jquery/dist/jquery.min.js')
    script(src='../../bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='../angularjs-study.js')
    link(rel='stylesheet', href='../../bower_components/bootstrap/dist/css/bootstrap.css')
  body
    block content
